<article class="doc">
<h1 class="page">{{{or page.title '找不到页面'}}}</h1>
<div class="paragraph">
<p>你要找的页面不存在，它可能被移走了。你可以{{#with site.homeUrl}}<a href="{{{this}}}">回到首页</a>，或者{{/with}}在左侧导航栏中看看。</p>
</div>
<div class="paragraph">
<p>如果你是点击链接后跳转到了这里，请提醒发链接的人，链接已失效。
如果你是手动输入 URL 来到这里，请检查拼写。</p>
</div>
</article>
